body {
    background-image: url("../img/bg_login.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /* position: relative; */
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Atur warna gelap dan transparansinya di sini */
}